*{
    margin: 0;
    padding: 0;
   

}
 ul{
    list-style-type: none;
}
.html{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.html-level{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color: #000;
}
/* .image{
    position: absolute;
    left:0;
    width:100%;
    transition: all 1s ease-in-out;
    animation: anim 2s linear;
}
.image_page{
    height: 100vh;
    position: relative;
} */
/* @keyframes anim{
    0%{
        bottom:-110%;
    }
    90%{
        bottom: 20%;
    }
    100%{
        bottom: 0;

    }
} */